/* Write your CSS here */
.loginbutton {
  background-color: #f8fafc;
  color: #b5b9ff;
  padding: 10px;
  border-radius: 15px;
  font-family: 'roboto';
  font-weight: bold;
  border: none;
  width: 100px;
}
